.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.import{
    width: 100%;
    height: 50px;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 3%;
}

.analyze{
    width: 100%;
    height: 50px;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    padding: 3%;
}